body {
    font-family: 'Roboto' , sans-serif;
    color: #2e2f42;
    line-height: 1.5;
    background-color: #fff;
}


.part-logo {
    color: #4d5ae5;
}



ul {
    list-style-type: none;
}