body {
    font-family: 'Roboto' , sans-serif;
    color: #212121;
    line-height: 1.5;
}


.part-logo {
    color: #4d5ae5;
}

.part-logo:hover {
    color: #FF0000;
}
.part-logo:focus {
    color: #FF0000;
}
.part-logo:active{
    color: #FF0000;
}


ul li {
    list-style-type: none;
}