
.header-link  {
    font-weight: 500;
    color: #2e2f42;
    text-decoration: none;
}

.header-link:hover {
    color: #FF0000;
}
.header-link:focus {
    color: #FF0000;
}
.header-link:active {
    color: #FF0000;
}

.address-link {
    font-weight: 400;
    color: #434455;
}

.address-link:hover {
    color: #FF0000;
}
.address-link:focus {
    color: #FF0000;
}
.address-link:active {
    color: #FF0000;
}

.logo-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
}

.logo-header:hover {
    color: #FF0000;
}

.logo-header:focus {
    color: #FF0000;
}

.logo-header:active {
    color: #FF0000;
}